---
export interface Props {
	orientation: "horizontal" | "vertical";
	size: "small" | "medium" | "large";
}
const {orientation, size} = Astro.props;
---

<div
	class="separator"
	class:list={{
		"separator--orientation-horizontal": orientation === "horizontal",
		"separator--orientation-vertical": orientation === "vertical",
		"separator--small": size === "small",
		"separator--medium": size === "medium",
		"separator--large": size === "large",
	}}
>
</div>

<style lang="scss">
	.separator {
		background-color: gray;

		&--small {
			$size: 1px;
			height: $size;
			width: $size;
		}
		&--medium {
			$size: 2px;
			height: $size;
			width: $size;
		}
		&--large {
			$size: 4px;
			height: $size;
			width: $size;
		}
		&--orientation-vertical {
			height: 100%;
		}
		&--orientation-horizontal {
			width: 100%;
		}
	}
</style>
