---
export interface Props {
	orientation: "horizontal" | "vertical";
	size: "small" | "medium" | "large";
}
const {orientation, size} = Astro.props;
---

<div
	class="separator"
	class:list={{
		"separator--orientation-horizontal": orientation === "horizontal",
		"separator--orientation-vertical": orientation === "vertical",
		"separator--small": size === "small",
		"separator--medium": size === "medium",
		"separator--large": size === "large",
	}}
>
	<div class="separator__bar"></div>
</div>

<style lang="scss">
	.separator {
		display: grid;
		&--small {
			$size: 1px;
			height: $size;
			width: $size;
			padding: 0.25rem;
		}
		&--medium {
			$size: 2px;
			height: $size;
			width: $size;
			padding: 0.5rem;
		}
		&--large {
			$size: 4px;
			height: $size;
			width: $size;
			padding: 1rem;
		}
		&--orientation-vertical {
			height: auto;
			padding-top: 0;
			padding-bottom: 0;
		}
		&--orientation-horizontal {
			width: auto;
			padding-right: 0;
			padding-left: 0;
		}
	}
	.separator__bar {
		background-color: gray;
	}
</style>
