---
import type Zod from "zod";
import type contentSchema from "../contentSchema.js";
import Footer from "./Footer.astro";

export interface Props {
	content: Zod.infer<typeof contentSchema>;
}

const {content} = Astro.props;
---

<div class="resume">
	<div class="flex flex--row flex--size-large">
		<div class="resume__introduction">
			<h1>{content.person.firstName} {content.person.lastName}</h1>
		</div>
	</div>
	<Footer>{content.gdprClause}</Footer>
</div>

<style lang="scss">
	.resume {
		display: grid;
		grid-template-rows: 1fr auto;

		padding: 1rem;
	}

	.flex {
		display: flex;
		&.flex--row {
			flex-direction: row;
		}

		&.flex--column {
			flex-direction: column;
		}

		&.flex--size-large {
			gap: 1rem;
		}

		&.flex--size-medium {
			gap: 0.5rem;
		}
	}
</style>
