<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss">
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}
	html {
		background-color: black;
		min-height: 100%;
		min-width: 100%;
		display: grid;
		place-items: center;
	}
	body {
		background-color: white;
		width: 210mm;
		height: 297mm;

		display: grid;
	}
</style>
