env:
  ALPINE_VERSION: "3.19"
  NODEJS_VERSION: "22.3.0"
jobs:
  prettier_check:
    name: "Prettier check"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v6"
      - name: "Setup Node.js"
        uses: "actions/setup-node@v6"
        with:
          cache: "npm"
          node-version: "${{env.NODEJS_VERSION}}"
      - name: "Install dependencies"
        run: |
          npm ci
      - name: "Run prettier"
        run: |
          npm run prettier:check
name: "Continuous integration"
on:
  pull_request:
  push:
